mat-form-field{
  width: 100%;
}
.container{
  text-align: center;
}
.container-fluid{
  text-align: center;
}
mat-card{
  width: 100%;
  text-align: center;
  margin-left: 7px;
  margin-bottom: 10px;
}
.ss{
  margin-bottom: 10px;
}
