<div mat-dialog-content>
  <div class="container">
  <div class="text">
    <h2 style="text-align: center;">Book Details</h2>
    <hr>
  </div>

      <div class="row">
          <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->

          <div class=" col-md-12 col-sm-12 ofset-1">
              <mat-card  mat-dialog-content layout-align="center center">

                  <form  (submit)="onLogin(signupForm)" #signupForm="ngForm">
                      <mat-form-field>
                          <input matInput type="input" name="name" ngModel #nameInput="ngModel" placeholder="Name"required>
                              <mat-error *ngIf="nameInput.invalid">Please Enter Your Name</mat-error>
                      </mat-form-field>

                      <mat-form-field>
                        <input matInput type="text" name="author" ngModel #authorInput="ngModel" placeholder="AuthoInputr"required>
                            <mat-error *ngIf="authorInput.invalid">Please Enter Auther Name</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                      <input matInput type="text" name="publication" ngModel #publicationInput="ngModel" placeholder="publicationInput"required>
                          <mat-error *ngIf="publicationInput.invalid">Please Enter a Publication Name</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" name="category" ngModel #categoryInput="ngModel" placeholder="category"required>
                        <mat-error *ngIf="categoryInput.invalid">Please Enter a Category Name</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="number" name="pages" ngModel #pagesInput="ngModel" placeholder="pages"required>
                      <mat-error *ngIf="pagesInput.invalid">Please Insert Page</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" name="priceInput" ngModel #priceInput="ngModel" placeholder="  priceInput " required>
                    <mat-error *ngIf="priceInput.invalid">Please Enter a content post</mat-error>
              </mat-form-field>


                      <button class="btn btn-danger btn-round ss"  fxLayout="center center" type="submit()" >Signup</button>
                   </form>
              </mat-card>
          </div>
          <!-- <p>output{{helloWorld}}</p> -->
      </div>
  </div>
</div>

